pkgbase = retromarchy-bin
	pkgdesc = LaunchBox-style retro game launcher for Omarchy
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/dannyowelch/retromarchy
	arch = x86_64
	license = unknown
	depends = ca-certificates
	depends = fontconfig
	depends = freetype2
	depends = libglvnd
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = retroarch: play ROMs through RetroArch
	optdepends = vulkan-radeon: Vulkan driver for AMD GPUs
	optdepends = vulkan-intel: Vulkan driver for Intel GPUs
	optdepends = nvidia-utils: Vulkan driver for NVIDIA GPUs
	provides = retromarchy
	conflicts = retromarchy
	options = !debug
	source = https://github.com/dannyowelch/retromarchy/releases/download/v0.1.1/retromarchy-0.1.1-x86_64-linux.tar.gz
	sha256sums = 008785fb492084b545db4379dc19125e9bfb09bc3a42ffe810376bccd32dc538

pkgname = retromarchy-bin
