pkgbase = retromarchy
	pkgdesc = LaunchBox-style retro game launcher for Omarchy
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/dannyowelch/retromarchy
	arch = x86_64
	license = unknown
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = pkgconf
	depends = ca-certificates
	depends = fontconfig
	depends = freetype2
	depends = libglvnd
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = retroarch: play ROMs through RetroArch
	optdepends = vulkan-radeon: Vulkan driver for AMD GPUs
	optdepends = vulkan-intel: Vulkan driver for Intel GPUs
	optdepends = nvidia-utils: Vulkan driver for NVIDIA GPUs
	conflicts = retromarchy-bin
	options = !debug
	options = !lto
	source = retromarchy-0.1.1.tar.gz::https://github.com/dannyowelch/retromarchy/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = da756506bcee37733b2680e6ca7cb1ade03216a515e39d324626a62387e8c90e

pkgname = retromarchy
